In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path = 'data/NSDUH_2021_Tab.txt'

data = pd.read_csv(file_path, sep='\t')

/var/folders/ks/nvwnsjxx73sfdyfzgxxlgscw0000gn/T/ipykernel_48485/2103078997.py:3: DtypeWarning: Columns (2792) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, sep='\t')

In [3]:

col_list = ["CIGEVER", 
            "MJEVER", 
            "ALCEVER", 
            "COCEVER", 
            "CRKEVER", 
            "HEREVER", 
            "LSD", 
            "METHAMEVR",
            'IRIMPREMEM', # DIFFICULTY REMEMBERING ONE MO IN PST 12 MOS - IMP REV (457) --> BINARY!
            'ADDPREV', # SEVERAL DAYS OR LNGR WHEN FELT SAD/EMPTY/DPRSD (506) --> BINARY!
            'IRSUIPLANYR', # ADULT MADE PLANS TO KILL SELF IN PST YR - IMP REV (499)
            'ASDSREL2', # ADULT: DEP FEELINGS ROLE IMPAIRMENT - CLOSE RELATIONSHIPS (520)
            'IRAMDEYR', # ADULT: PAST YEAR MAJOR DEPRESSIVE EPISODE (MDE) - IMP REV
            'IRDSTCHR12' # HOW OFTEN FELT COULDN'T BE CHEERED UP WRST MONTH - IMP REV

            ]

In [4]:
df = data[col_list]
df.head()

,CIGEVER,MJEVER,ALCEVER,COCEVER,CRKEVER,HEREVER,LSD,METHAMEVR,IRIMPREMEM,ADDPREV,IRSUIPLANYR,ASDSREL2,IRAMDEYR,IRDSTCHR12
0,1,1,1,2,91,2,91,2,2,2,0.0,NaN,0.0,99
1,1,2,1,2,91,2,91,2,99,2,0.0,NaN,0.0,99
2,2,2,1,2,91,2,91,2,1,2,0.0,NaN,0.0,4
3,1,1,1,2,91,2,91,2,2,1,0.0,NaN,0.0,99
4,2,2,2,2,91,2,91,2,99,2,0.0,NaN,0.0,99

In [5]:
# Need more features!

# Cigarettes - CIGEVER
# Marijuana - MJEVER
# Alcohol - ALCEVER
# Cocaine - COCEVER
# Crack - CRKEVER
# Heroin - HEREVER
# Hallucinogen - LSD
# Methamphetamine - METHAMEVR

In [6]:
# Drop all rows where MJEVER is not 1 or 2
df = df[df['MJEVER'].isin([1,2])]

df.loc[df['MJEVER'] == 2, 'MJEVER'] = 0

# Inspect changes
df['MJEVER'].value_counts()

MJEVER
0    32487
1    25355
Name: count, dtype: int64

In [7]:
# Change the 2s in CIGEVER to 0s

df = df[df['CIGEVER'].isin([1,2])]

df.loc[df['CIGEVER'] == 2, 'CIGEVER'] = 0

# Inspect changes
df['CIGEVER'].value_counts()

CIGEVER
0    33024
1    24818
Name: count, dtype: int64

In [8]:
#ALCEVER

df = df[df['ALCEVER'].isin([1,2])]

df.loc[df['ALCEVER'] == 2, 'ALCEVER'] = 0

# Inspect changes
df['ALCEVER'].value_counts()

ALCEVER
1    41588
0    16239
Name: count, dtype: int64

In [9]:
#COCEVER

df = df[df['COCEVER'].isin([1,2])]

df.loc[df['COCEVER'] == 2, 'COCEVER'] = 0

# Inspect changes
df['COCEVER'].value_counts()

COCEVER
0    51023
1     6792
Name: count, dtype: int64

In [10]:
#CRKEVER

df = df[df['CRKEVER'].isin([1,2, 91])]


#set all 2 and 91 to 0
df.loc[df['CRKEVER'] == 2, 'CRKEVER'] = 0

df.loc[df['CRKEVER'] == 91, 'CRKEVER'] = 0


# Inspect changes
df['CRKEVER'].value_counts()

CRKEVER
0    56213
1     1593
Name: count, dtype: int64

In [12]:
#HEREVER
df = df[df['HEREVER'].isin([1,2])]

df.loc[df['HEREVER'] == 2, 'HEREVER'] = 0

# Inspect changes
df['HEREVER'].value_counts()

HEREVER
0    56663
1     1132
Name: count, dtype: int64

In [13]:
#LSD

df = df[df['LSD'].isin([1,2, 91])]


#set all 2 and 91 to 0
df.loc[df['LSD'] == 2, 'LSD'] = 0

df.loc[df['LSD'] == 91, 'LSD'] = 0


# Inspect changes
df['LSD'].value_counts()

LSD
0    52383
1     5392
Name: count, dtype: int64

In [14]:
#METHAMEVR
df = df[df['METHAMEVR'].isin([1,2])]

df.loc[df['METHAMEVR'] == 2, 'METHAMEVR'] = 0

# Inspect changes
df['METHAMEVR'].value_counts()

METHAMEVR
0    55079
1     2657
Name: count, dtype: int64

In [15]:
df.head(10)

#all ever variables

,CIGEVER,MJEVER,ALCEVER,COCEVER,CRKEVER,HEREVER,LSD,METHAMEVR,IRIMPREMEM,ADDPREV,IRSUIPLANYR,ASDSREL2,IRAMDEYR,IRDSTCHR12
0,1,1,1,0,0,0,0,0,2,2,0.0,NaN,0.0,99
1,1,0,1,0,0,0,0,0,99,2,0.0,NaN,0.0,99
2,0,0,1,0,0,0,0,0,1,2,0.0,NaN,0.0,4
3,1,1,1,0,0,0,0,0,2,1,0.0,NaN,0.0,99
4,0,0,0,0,0,0,0,0,99,2,0.0,NaN,0.0,99
5,1,0,1,0,0,0,0,0,99,2,0.0,NaN,0.0,99
7,0,0,1,0,0,0,0,0,1,1,0.0,NaN,0.0,99
8,0,0,0,0,0,0,0,0,99,99,NaN,NaN,NaN,99
9,0,0,1,0,0,0,0,0,2,2,0.0,NaN,0.0,3
10,0,1,1,0,0,0,1,0,1,1,0.0,3.0,1.0,3

In [16]:

#export dataframe as a csv file
df.to_csv('dataframe.csv', index=False)