Codes and description

 > MJ_Codes(12) =
            - MJEVER =
            - MJAGE =
            - MJYFU =
            - MJMFU =
            - MJREC =
            - MJYRTOT =
            - MRBSTWAY =
            - MRDAYPYR =
            - MRDAYPMO =
            - MRDAYPWK =
            - MJDAY30A =
            - MR30EST =

 > MJ_MARKET_CODES(10) =
    - MMBTPYR', # Bought MJ in past 12 months
    - MMBT30DY', # # Days bought MH in Past Month
    - MMBTDISP', # Bought from store or dispoensary
    - MMBJOINT', # Last MJ bought in joints
    - MMBLOOSE', # Last MJ bought in Loose form
    - MMBOTHER', # Last MJ bought in other form
    - MMLSUNIT1', # AMT MJ bought in last time: grams/oz/lbs
    - MLSPCTB1', # Amount paid for MJ last time in bins
    - MMLSPCAT1', # Price category of last loose marijuana bought
    - MMBSELL', # Sell any marijuana bought last time


 > TARGETS (2?) = 
    - ADDPREV', # SEVERAL DAYS OR LNGR WHEN FELT SAD/EMPTY/DPRSD (506) --> BINARY!
    - ASDSREL2', # ADULT: DEP FEELINGS ROLE IMPAIRMENT - CLOSE RELATIONSHIPS (520)

 > OTHER_DRUGS (7) = 
    - TOBFLAG
    - ALCFLAG
    - COCFLAG
    - CRKFLAG
    - HERFLAG
    - LSDFLAG
    - METHAMFLAG

 > MJ_USE (29) = 
- UDMJTIMEUSE - SPENT GREAT DEAL OF TIME USING/FEEL EFF OF MJ PST 12 MOS
- UDMJTIMEGET Len : 2 SPENT GREAT DEAL TIME TRY TO GET/GETTING MJ IN PST 12 MOS
- UDMJWANTBAD Len : 2 WANTED TO USE MARIJUANA SO BADLY IN PAST 12 MOS
- UDMJSTRURGE Len : 2 STRONG URGE TO USE MARIJUANA IN PAST 12 MOS
- UDMJNEEDMOR Len : 2 NEEDED A LOT MORE MARIJUANA TO GET FEELING YOU WANT
- UDMJLESSEFF Len : 2 SAME AMT MARIJUANA HAS LESS EFFECT THAN IT USED TO
- UDMJTRYSTOP Len : 2 TRY TO CUT DOWN/STOP MARIJUANA USE IN PAST 12 MOS
- UDMJHLTHPRB Len : 2 ANY LONG-LASTING PHYS PRBS CAUSED/WORSND BY MJ PST 12 MOS
- UDMJHLTHCTD Len : 2 CONTD TO USE MARIJUANA DESPITE MJ CAUSE/WORSEN PHYS PRBS
- UDMJMNTLPRB Len : 2 ANY EMOT/MNTL HLTH PRBS CAUSED/WORSND BY MJ PAST 12 MOS
- UDMJMNTLCTD Len : 2 CONTD MARIJUANA USE DESPITE MJ CSE/WRSN EMOT/MNTL HLTH PRBS
- UDMJSTOPACT Len : 2 LESS ACTIVITIES B/C OF MARIJUANA USE PAST 12 MOS
- UDMJWORKPRB Len : 2 MARIJUANA CAUSE SERIOUS PRBS AT HOME/WORK/SCH PST 12 MOS
- UDMJFMLYPRB Len : 2 MARIJUANA CAUSE ARGUMENTS/PROBS W/FAMILY/FRIENDS PST 12 MOS
- UDMJFMLYCTD Len : 2 CONTD MARIJUANA USE DESPITE MJ CAUSE ARGUMENTS W/FAM/FRNDS
- UDMJGETHURT Len : 2 MARIJUANA USE INCREASED CHANCE GETTING HURT PST 12 MOS
- UDMJWDANGRY Len : 2 FEELING IRRITABLE OR ANGRY-MJ WITHDRAWAL SYMPTOM PST 12 MOS
- UDMJWDFLANX Len : 2 FEELING ANXIOUS/NERVOUS - MJ WITHDRAWAL SYMPTOM PST 12 MOS
- UDMJWDSLEEP Len : 2 HAVING TROUBLE SLEEPING - MJ WITHDRAWAL SYMPTOM PST 12 MOS
- UDMJWDAPPET Len : 2 LOSING APPETITE OR WEIGHT - MJ WITHDRAWAL SYMPTOM PST 12 MOS
- UDMJWDSITST Len : 2 COULDN'T SIT STILL - MJ WITHDRAWAL SYMPTOM PST 12 MOS
- UDMJWDDEPRS Len : 2 FEELING DEPRESSED - MJ WITHDRAWAL SYMPTOM PST 12 MOS
- UDMJWDSTMCH Len : 2 STOMACH ACHE - MJ WITHDRAWAL SYMPTOM PST 12 MOS
- UDMJWDSHAKE Len : 2 SHAKING OR TREMORS - MJ WITHDRAWAL SYMPTOM PST 12 MOS
- UDMJWDSWEAT Len : 2 SWEATING - MJ WITHDRAWAL SYMPTOM PST 12 MOS
- UDMJWDFEVER Len : 2 FEVER - MJ WITHDRAWAL SYMPTOM PST 12 MOS
- UDMJWDCHILL Len : 2 CHILLS - MJ WITHDRAWAL SYMPTOM PST 12 MOS
- UDMJWDHEDAC Len : 2 HEADACHE - MJ WITHDRAWAL SYMPTOM PST 12 MOS
- PYUD5MRJ Len : 2 MARIJUANA USE DISORDER IN THE PAST YEAR

 > MH_CARE (14) = 
- AUMHTELYR Len : 2 ADULT RCVD MENTAL HLTH TRMT OVER PHONE/EMAIL/VIDEO PST 12
- AUALTYR Len : 2 RCVD ALTERNATIVE MENT HLTH TRMT PAST 12 MOS
- SUICTHNK Len : 2 SERIOUSLY THINK ABOUT KILLING SELF PST 12 MOS
- SUIPLANYR Len : 2 ADULT MAKE PLANS TO KILL SELF PST 12 MOS
- AD_MDEA1 Len : 2 SAD/EMPTY/DEPRESSED MOST OF DAY OR DISCOURAGED
- AD_MDEA2 Len : 2 LOST INTEREST OR PLEASURE IN MOST THINGS
- AD_MDEA3 Len : 2 CHANGES IN APPETITE OR WT
- AD_MDEA4 Len : 2 SLEEP PROBLEMS
- AD_MDEA8 Len : 2 INABILITY TO CONCENTRATE OR MAKE DECISIONS
- ADSMMDEA Len : 2 SCORE OF SYMPTOM INDICATORS 1 THRU 9
- YODSMMDE Len : 2 SCORE OF SYMPTOM INDICATORS 1 THRU 9 (Youth)
- CAMHPROB2 Len : 2 THINK EVER HAD PROBLEM WITH OWN MENTAL HEALTH
- LVLDIFMEM2 Len : 2 LEVEL OF DIFFICULTY REMEMBERING OR CONCENTRATING
- LVLDIFCOMM2 Len : 2 LEVEL OF DIFFICULTY COMMUNICATING USING YOUR USUAL LANGUAGE

 > DEMOGRAPHICS (8) = 
- AGE3 Len : 2 RECODE - FINAL EDITED AGE
- HEALTH Len : 2 OVERALL HEALTH
- CATAG3 Len : 1 RC-AGE CATEGORY RECODE (5 LEVELS)
- HEALTH2 Len : 1 RC-OVERALL HEALTH RECODE
- ANYHLTI2 Len : 2 COVERED BY ANY HEALTH INSURANCE - RECODE
- INCOME Len : 1 RC-TOTAL FAMILY INCOME RECODE
- POVERTY3 Len : 1 RC-POVERTY LEVEL (% OF US CENSUS POVERTY THRESHOLD)
- COUTYP4 Len : 1 COUNTY METRO/NONMETRO STATUS (2013 3-LEVEL)

 > Columns with NAs:
- "AMISUD5ANY" = 10743
- "ASDSREL2" = 52894
- "HEALTH2" = 19
- "PYUD5MRJ" = 560

# Code for cleaning the data

The aim is to create a model that can predict whether the use of marihuana contributes to poor mental health outcomes.
Questions:
* Group similar mental health problems. Assign categories: for example, isolation from family, mood symptoms, etc, according to severity?
* Same with physical health?

In [1]:
# Dependencies
import pandas as pd

# Store filepath in a variable
nsduh_csv = "data/NSDUH_2021_Tab.txt"

# Read the csv
nsduh_df = pd.read_csv(nsduh_csv, sep="\t")

# Print the head
nsduh_df.head(5)

C:\Users\lmacciomaretto\AppData\Local\Temp\ipykernel_3084\2739492926.py:8: DtypeWarning: Columns (2792) have mixed types. Specify dtype option on import or set low_memory=False.
  nsduh_df = pd.read_csv(nsduh_csv, sep="\t")

,QUESTID2,FILEDATE,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,...,GOVTPROG,INCOME,POVERTY3,PDEN10,COUTYP4,MAIIN102,AIIND102,ANALWT_C,VESTR_C,VEREP
0,10000182,10/06/2022,1,99,99,19,9999,99,1,7,...,1,1,2.0,2,3,2,2,675.130812,40047,1
1,10001255,10/06/2022,1,99,99,15,9999,99,4,93,...,2,4,3.0,1,1,2,2,12435.513603,40037,2
2,10001831,10/06/2022,2,99,99,991,9991,91,91,91,...,2,2,2.0,2,2,2,2,647.085653,40037,2
3,10002722,10/06/2022,1,99,99,9,9999,99,1,30,...,2,2,2.0,1,1,2,2,11275.260484,40045,2
4,10002897,10/06/2022,2,99,99,991,9991,91,91,91,...,2,1,1.0,1,1,2,2,350.985132,40006,1

In [2]:
# Columns
mj_mh_col = ["AD_MDEA1", "AD_MDEA2", "AD_MDEA3", "AD_MDEA4", "AD_MDEA8", "ADDPREV", "ADSMMDEA", "AGE3", "ALCFLAG", "ANYHLTI2",
             "ASDSREL2", "AUALTYR", "AUMHTELYR2", "CAMHPROB2", "CATAG3", "COCFLAG", "COUTYP4", "CRKFLAG", "HEALTH", "HEALTH2", 
             "HERFLAG", "INCOME", "IRPYUD5MRJ", "LSDFLAG", "LVLDIFCOMM2", "LVLDIFMEM2", "METHAMFLAG", "MJAGE", "MJDAY30A", "MRJFLAG",
             "MJONLYFLAG", "MJMFU", "MJREC", "MJYFU", "MJYRTOT", "MMBJOINT", "MMBLOOSE", "MMBOTHER", "MMBSELL", "MMBT30DY", 
             "MMBTDISP", "MMBTPYR", "MMLSPCAT1", "MMLSPCTB1", "MMLSUNIT1", "MRBSTWAY", "MRDAYPMO", "MRDAYPWK", "MRDAYPYR", "MR30EST", 
             "POVERTY3", "PYUD5MRJ", "SUICTHNK", "SUIPLANYR", "TOBFLAG", "UDMJFMLYCTD", "UDMJFMLYPRB", "UDMJGETHURT", "UDMJHLTHCTD", "UDMJHLTHPRB",
             "UDMJLESSEFF", "UDMJMNTLCTD", "UDMJMNTLPRB", "UDMJNEEDMOR", "UDMJSTOPACT", "UDMJSTRURGE", "UDMJTIMEGET", "UDMJTIMEUSE", "UDMJTRYSTOP", "UDMJWANTBAD",
             "UDMJWDANGRY", "UDMJWDAPPET", "UDMJWDCHILL", "UDMJWDDEPRS", "UDMJWDFEVER", "UDMJWDFLANX", "UDMJWDHEDAC", "UDMJWDSHAKE", "UDMJWDSITST", "UDMJWDSLEEP", 
             "UDMJWDSTMCH", "UDMJWDSWEAT", "UDMJWORKPRB", "YODSMMDE"]

mj_mh_df = nsduh_df.drop(columns=[col for col in nsduh_df.columns if col not in mj_mh_col])

mj_mh_df.head(10)

,MJAGE,MJYFU,MJMFU,MJREC,MJYRTOT,MRBSTWAY,MRDAYPYR,MRDAYPMO,MRDAYPWK,MJDAY30A,...,AGE3,HEALTH,LVLDIFMEM2,LVLDIFCOMM2,CATAG3,HEALTH2,ANYHLTI2,INCOME,POVERTY3,COUTYP4
0,19,9999,99,1,52,1,999,99,1,30,...,8,4,1,1,3,4.0,1,1,2.0,3
1,991,9991,91,91,991,91,991,91,91,91,...,11,3,1,1,5,3.0,1,4,3.0,1
2,991,9991,91,91,991,91,991,91,91,91,...,6,2,1,1,2,2.0,1,2,2.0,2
3,13,9999,99,1,364,1,999,99,7,30,...,9,2,2,2,4,2.0,1,2,2.0,1
4,991,9991,91,91,991,91,991,91,91,91,...,6,1,1,1,2,1.0,2,1,1.0,1
5,991,9991,91,91,991,91,991,91,91,91,...,10,3,1,1,5,3.0,1,3,2.0,1
6,998,9998,98,11,998,98,998,98,98,98,...,5,2,1,1,2,2.0,94,4,3.0,1
7,991,9991,91,91,991,91,991,91,91,91,...,9,3,1,1,4,3.0,1,3,3.0,2
8,991,9991,91,91,991,91,991,91,91,91,...,1,3,1,1,1,3.0,1,1,1.0,2
9,991,9991,91,91,991,91,991,91,91,91,...,4,2,1,1,2,2.0,1,1,1.0,1

In [ ]:
col = ["ADSMMDEA", "ALCFLAG", "ANYHLTI2", "CATAG3", 
       "HEALTH2", "HERFLAG", "INCOME", "LSDFLAG", 
       "METHAMFLAG", "MRJFLAG", "MJYRTOT", "MMBTDISP",
       "MMBTPYR", "POVERTY3", "PYUD5MRJ", "TOBFLAG", "YODSMMDE"]

In [3]:
# Check for nas
nan_count = mj_mh_df[mj_mh_col].isna().sum()

# Print the result
print(nan_count)

AD_MDEA1       0
AD_MDEA2       0
AD_MDEA3       0
AD_MDEA4       0
AD_MDEA8       0
              ..
UDMJWDSLEEP    0
UDMJWDSTMCH    0
UDMJWDSWEAT    0
UDMJWORKPRB    0
YODSMMDE       0
Length: 84, dtype: int64

In [15]:
df = mj_mh_df
df['target'] = pd.to_numeric(df.target)

AttributeError: 'DataFrame' object has no attribute 'target'

In [16]:
import sweetviz as sv
report = sv.analyze(df, target_feat='target')

ModuleNotFoundError: No module named 'sweetviz'