### Data Preprocessing of "Lisa's Complete Set"

In [ ]:
# Note frome Erin: Evaluate feature importance when using Tree Models... and eliminate low-importance features to prevent "over-fitting" on test data.

In [ ]:
# Note to self: ADSMMDEA (Adult Depression Target)
# YODSMMDE (Youth Depression Target)

Codes and description

 > MJ_Codes(12) =
            - MJEVER =
            - MJAGE =
            - MJYFU =
            - MJMFU =
            - MJREC =
            - MJYRTOT =
            - MRBSTWAY =
            - MRDAYPYR =
            - MRDAYPMO =
            - MRDAYPWK =
            - MJDAY30A =
            - MR30EST =

 > MJ_MARKET_CODES(10) =
    - MMBTPYR', # Bought MJ in past 12 months
    - MMBT30DY', # # Days bought MH in Past Month
    - MMBTDISP', # Bought from store or dispoensary
    - MMBJOINT', # Last MJ bought in joints
    - MMBLOOSE', # Last MJ bought in Loose form
    - MMBOTHER', # Last MJ bought in other form
    - MMLSUNIT1', # AMT MJ bought in last time: grams/oz/lbs
    - MLSPCTB1', # Amount paid for MJ last time in bins
    - MMLSPCAT1', # Price category of last loose marijuana bought
    - MMBSELL', # Sell any marijuana bought last time

 > OTHER_DRUGS (7) = 
    - TOBFLAG
    - ALCFLAG
    - COCFLAG
    - CRKFLAG
    - HERFLAG
    - LSDFLAG
    - METHAMFLAG

 > MJ_USE (29) = 
- UDMJTIMEUSE - SPENT GREAT DEAL OF TIME USING/FEEL EFF OF MJ PST 12 MOS
- UDMJTIMEGET Len : 2 SPENT GREAT DEAL TIME TRY TO GET/GETTING MJ IN PST 12 MOS
- UDMJWANTBAD Len : 2 WANTED TO USE MARIJUANA SO BADLY IN PAST 12 MOS
- UDMJSTRURGE Len : 2 STRONG URGE TO USE MARIJUANA IN PAST 12 MOS
- UDMJNEEDMOR Len : 2 NEEDED A LOT MORE MARIJUANA TO GET FEELING YOU WANT
- UDMJLESSEFF Len : 2 SAME AMT MARIJUANA HAS LESS EFFECT THAN IT USED TO
- UDMJTRYSTOP Len : 2 TRY TO CUT DOWN/STOP MARIJUANA USE IN PAST 12 MOS
- UDMJHLTHPRB Len : 2 ANY LONG-LASTING PHYS PRBS CAUSED/WORSND BY MJ PST 12 MOS
- UDMJHLTHCTD Len : 2 CONTD TO USE MARIJUANA DESPITE MJ CAUSE/WORSEN PHYS PRBS
- UDMJMNTLPRB Len : 2 ANY EMOT/MNTL HLTH PRBS CAUSED/WORSND BY MJ PAST 12 MOS
- UDMJMNTLCTD Len : 2 CONTD MARIJUANA USE DESPITE MJ CSE/WRSN EMOT/MNTL HLTH PRBS
- UDMJSTOPACT Len : 2 LESS ACTIVITIES B/C OF MARIJUANA USE PAST 12 MOS
- UDMJWORKPRB Len : 2 MARIJUANA CAUSE SERIOUS PRBS AT HOME/WORK/SCH PST 12 MOS
- UDMJFMLYPRB Len : 2 MARIJUANA CAUSE ARGUMENTS/PROBS W/FAMILY/FRIENDS PST 12 MOS
- UDMJFMLYCTD Len : 2 CONTD MARIJUANA USE DESPITE MJ CAUSE ARGUMENTS W/FAM/FRNDS
- UDMJGETHURT Len : 2 MARIJUANA USE INCREASED CHANCE GETTING HURT PST 12 MOS
- UDMJWDANGRY Len : 2 FEELING IRRITABLE OR ANGRY-MJ WITHDRAWAL SYMPTOM PST 12 MOS
- UDMJWDFLANX Len : 2 FEELING ANXIOUS/NERVOUS - MJ WITHDRAWAL SYMPTOM PST 12 MOS
- UDMJWDSLEEP Len : 2 HAVING TROUBLE SLEEPING - MJ WITHDRAWAL SYMPTOM PST 12 MOS
- UDMJWDAPPET Len : 2 LOSING APPETITE OR WEIGHT - MJ WITHDRAWAL SYMPTOM PST 12 MOS
- UDMJWDSITST Len : 2 COULDN'T SIT STILL - MJ WITHDRAWAL SYMPTOM PST 12 MOS
- UDMJWDDEPRS Len : 2 FEELING DEPRESSED - MJ WITHDRAWAL SYMPTOM PST 12 MOS
- UDMJWDSTMCH Len : 2 STOMACH ACHE - MJ WITHDRAWAL SYMPTOM PST 12 MOS
- UDMJWDSHAKE Len : 2 SHAKING OR TREMORS - MJ WITHDRAWAL SYMPTOM PST 12 MOS
- UDMJWDSWEAT Len : 2 SWEATING - MJ WITHDRAWAL SYMPTOM PST 12 MOS
- UDMJWDFEVER Len : 2 FEVER - MJ WITHDRAWAL SYMPTOM PST 12 MOS
- UDMJWDCHILL Len : 2 CHILLS - MJ WITHDRAWAL SYMPTOM PST 12 MOS
- UDMJWDHEDAC Len : 2 HEADACHE - MJ WITHDRAWAL SYMPTOM PST 12 MOS
- PYUD5MRJ Len : 2 MARIJUANA USE DISORDER IN THE PAST YEAR

 > MH_CARE (14) = 
- AUMHTELYR Len : 2 ADULT RCVD MENTAL HLTH TRMT OVER PHONE/EMAIL/VIDEO PST 12
- AUALTYR Len : 2 RCVD ALTERNATIVE MENT HLTH TRMT PAST 12 MOS
- SUICTHNK Len : 2 SERIOUSLY THINK ABOUT KILLING SELF PST 12 MOS
- SUIPLANYR Len : 2 ADULT MAKE PLANS TO KILL SELF PST 12 MOS
- AD_MDEA1 Len : 2 SAD/EMPTY/DEPRESSED MOST OF DAY OR DISCOURAGED
- AD_MDEA2 Len : 2 LOST INTEREST OR PLEASURE IN MOST THINGS
- AD_MDEA3 Len : 2 CHANGES IN APPETITE OR WT
- AD_MDEA4 Len : 2 SLEEP PROBLEMS
- AD_MDEA8 Len : 2 INABILITY TO CONCENTRATE OR MAKE DECISIONS
- ADSMMDEA Len : 2 SCORE OF SYMPTOM INDICATORS 1 THRU 9
- YODSMMDE Len : 2 SCORE OF SYMPTOM INDICATORS 1 THRU 9 (Youth)
- CAMHPROB2 Len : 2 THINK EVER HAD PROBLEM WITH OWN MENTAL HEALTH
- LVLDIFMEM2 Len : 2 LEVEL OF DIFFICULTY REMEMBERING OR CONCENTRATING
- LVLDIFCOMM2 Len : 2 LEVEL OF DIFFICULTY COMMUNICATING USING YOUR USUAL LANGUAGE

 > DEMOGRAPHICS (8) = 
- AGE3 Len : 2 RECODE - FINAL EDITED AGE
- HEALTH Len : 2 OVERALL HEALTH
- CATAG3 Len : 1 RC-AGE CATEGORY RECODE (5 LEVELS)
- HEALTH2 Len : 1 RC-OVERALL HEALTH RECODE
- ANYHLTI2 Len : 2 COVERED BY ANY HEALTH INSURANCE - RECODE
- INCOME Len : 1 RC-TOTAL FAMILY INCOME RECODE
- POVERTY3 Len : 1 RC-POVERTY LEVEL (% OF US CENSUS POVERTY THRESHOLD)
- COUTYP4 Len : 1 COUNTY METRO/NONMETRO STATUS (2013 3-LEVEL)

 > Columns with NAs:
- "AMISUD5ANY" = 10743
- "ASDSREL2" = 52894
- "HEALTH2" = 19
- "PYUD5MRJ" = 560

# Code for cleaning the data

The aim is to create a model that can predict whether the use of marihuana contributes to poor mental health outcomes.
Questions:
* Group similar mental health problems. Assign categories: for example, isolation from family, mood symptoms, etc, according to severity?
* Same with physical health?

In [1]:
# Dependencies
import pandas as pd

# Store filepath in a variable
nsduh_csv = "data/NSDUH_2021_Tab.txt"

# Read the csv
nsduh_df = pd.read_csv(nsduh_csv, sep="\t")

# Print the head
nsduh_df.head(5)

c:\Users\e.a.wright\anaconda3\envs\datascience\Lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\Users\e.a.wright\anaconda3\envs\datascience\Lib\site-packages\numpy\.libs\libopenblas64__v0.3.23-246-g3d31191b-gcc_10_3_0.dll
c:\Users\e.a.wright\anaconda3\envs\datascience\Lib\site-packages\numpy\.libs\libopenblas64__v0.3.23-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"
C:\Users\e.a.wright\AppData\Local\Temp\ipykernel_24052\2739492926.py:8: DtypeWarning: Columns (2792) have mixed types. Specify dtype option on import or set low_memory=False.
  nsduh_df = pd.read_csv(nsduh_csv, sep="\t")

,QUESTID2,FILEDATE,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,...,GOVTPROG,INCOME,POVERTY3,PDEN10,COUTYP4,MAIIN102,AIIND102,ANALWT_C,VESTR_C,VEREP
0,10000182,10/06/2022,1,99,99,19,9999,99,1,7,...,1,1,2.0,2,3,2,2,675.130812,40047,1
1,10001255,10/06/2022,1,99,99,15,9999,99,4,93,...,2,4,3.0,1,1,2,2,12435.513603,40037,2
2,10001831,10/06/2022,2,99,99,991,9991,91,91,91,...,2,2,2.0,2,2,2,2,647.085653,40037,2
3,10002722,10/06/2022,1,99,99,9,9999,99,1,30,...,2,2,2.0,1,1,2,2,11275.260484,40045,2
4,10002897,10/06/2022,2,99,99,991,9991,91,91,91,...,2,1,1.0,1,1,2,2,350.985132,40006,1

In [2]:
# Columns
mj_mh_col = ["AD_MDEA1", "AD_MDEA2", "AD_MDEA3", "AD_MDEA4", "AD_MDEA8", "ADDPREV", "ADSMMDEA", "AGE3", "ALCFLAG", "ANYHLTI2",
             "ASDSREL2", "AUALTYR", "AUMHTELYR2", "CAMHPROB2", "CATAG3", "COCFLAG", "COUTYP4", "CRKFLAG", "HEALTH", "HEALTH2", 
             "HERFLAG", "INCOME", "IRPYUD5MRJ", "LSDFLAG", "LVLDIFCOMM2", "LVLDIFMEM2", "METHAMFLAG", "MJAGE", "MJDAY30A", "MRJFLAG",
             "MJONLYFLAG", "MJMFU", "MJREC", "MJYFU", "MJYRTOT", "MMBJOINT", "MMBLOOSE", "MMBOTHER", "MMBSELL", "MMBT30DY", 
             "MMBTDISP", "MMBTPYR", "MMLSPCAT1", "MMLSPCTB1", "MMLSUNIT1", "MRBSTWAY", "MRDAYPMO", "MRDAYPWK", "MRDAYPYR", "MR30EST", 
             "POVERTY3", "PYUD5MRJ", "SUICTHNK", "SUIPLANYR", "TOBFLAG", "UDMJFMLYCTD", "UDMJFMLYPRB", "UDMJGETHURT", "UDMJHLTHCTD", "UDMJHLTHPRB",
             "UDMJLESSEFF", "UDMJMNTLCTD", "UDMJMNTLPRB", "UDMJNEEDMOR", "UDMJSTOPACT", "UDMJSTRURGE", "UDMJTIMEGET", "UDMJTIMEUSE", "UDMJTRYSTOP", "UDMJWANTBAD",
             "UDMJWDANGRY", "UDMJWDAPPET", "UDMJWDCHILL", "UDMJWDDEPRS", "UDMJWDFEVER", "UDMJWDFLANX", "UDMJWDHEDAC", "UDMJWDSHAKE", "UDMJWDSITST", "UDMJWDSLEEP", 
             "UDMJWDSTMCH", "UDMJWDSWEAT", "UDMJWORKPRB", "YODSMMDE"]

mj_mh_df = nsduh_df.drop(columns=[col for col in nsduh_df.columns if col not in mj_mh_col])

mj_mh_df.head(10)

,MJAGE,MJYFU,MJMFU,MJREC,MJYRTOT,MRBSTWAY,MRDAYPYR,MRDAYPMO,MRDAYPWK,MJDAY30A,...,AGE3,HEALTH,LVLDIFMEM2,LVLDIFCOMM2,CATAG3,HEALTH2,ANYHLTI2,INCOME,POVERTY3,COUTYP4
0,19,9999,99,1,52,1,999,99,1,30,...,8,4,1,1,3,4.0,1,1,2.0,3
1,991,9991,91,91,991,91,991,91,91,91,...,11,3,1,1,5,3.0,1,4,3.0,1
2,991,9991,91,91,991,91,991,91,91,91,...,6,2,1,1,2,2.0,1,2,2.0,2
3,13,9999,99,1,364,1,999,99,7,30,...,9,2,2,2,4,2.0,1,2,2.0,1
4,991,9991,91,91,991,91,991,91,91,91,...,6,1,1,1,2,1.0,2,1,1.0,1
5,991,9991,91,91,991,91,991,91,91,91,...,10,3,1,1,5,3.0,1,3,2.0,1
6,998,9998,98,11,998,98,998,98,98,98,...,5,2,1,1,2,2.0,94,4,3.0,1
7,991,9991,91,91,991,91,991,91,91,91,...,9,3,1,1,4,3.0,1,3,3.0,2
8,991,9991,91,91,991,91,991,91,91,91,...,1,3,1,1,1,3.0,1,1,1.0,2
9,991,9991,91,91,991,91,991,91,91,91,...,4,2,1,1,2,2.0,1,1,1.0,1

In [16]:
columns = df.columns

In [18]:
columns[1]

'MJYFU'

In [19]:
df.MJYFU.value_counts()

9991    32487
9999    23607
2020      774
2021      444
2019      187
9998      177
9985      132
9989      112
9994       66
9997       48
Name: MJYFU, dtype: int64

In [20]:
columns[2]

'MJMFU'

In [ ]:
1 = January.......................................................................................................................... 105 0.18
2 = February........................................................................................................................ 96 0.17
3 = March............................................................................................................................ 113 0.19
4 = April ............................................................................................................................. 111 0.19
5 = May............................................................................................................................... 97 0.17
6 = June............................................................................................................................... 139 0.24
7 = July ............................................................................................................................... 125 0.22
8 = August .......................................................................................................................... 118 0.20
9 = September..................................................................................................................... 99 0.17
10 = October....................................................................................................................... 114 0.20
11 = November................................................................................................................... 91 0.16
12 = December.................................................................................................................... 113 0.19
85 = BAD DATA Logically assigned ................................................................................. 132 0.23
89 = LEGITIMATE SKIP Logically assigned .................................................................... 112 0.19
91 = NEVER USED MARIJUANA ................................................................................... 32487 55.98
94 = DON'T KNOW........................................................................................................... 146 0.25
97 = REFUSED .................................................................................................................. 52 0.09
98 = BLANK (NO ANSWER) ........................................................................................... 177 0.30
99 = LEGITIMATE SKIP................................................................................................... 23607 40.68

In [21]:
df.MJMFU.value_counts()

91    32487
99    23607
98      177
94      146
6       139
85      132
7       125
8       118
10      114
12      113
3       113
89      112
4       111
1       105
9        99
5        97
2        96
11       91
97       52
Name: MJMFU, dtype: int64

In [22]:
columns[3]

'MJREC'

In [23]:
df.MJREC.value_counts()

91    32487
3     12886
1      8176
2      3840
12      161
8       160
11      136
9        85
13       70
98       16
97       16
85        1
Name: MJREC, dtype: int64

In [24]:
columns[4]

'MJYRTOT'

In [9]:
# Process MJYRTOT

# Set 991 and 993 to 0
df.loc[df['MJYRTOT'] == 991, 'MJYRTOT'] = 0
df.loc[df['MJYRTOT'] == 993, 'MJYRTOT'] = 0

0      45443
364     1548
260      717
1        625
2        623
       ...
135        1
258        1
39         1
136        1
98         1
Name: MJYRTOT, Length: 203, dtype: int64

In [27]:
# Inspect using histogram
df.MJYRTOT.describe()

count    58034.000000
mean        39.193628
std        129.138829
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        998.000000
Name: MJYRTOT, dtype: float64

In [28]:
columns[5]

'MRBSTWAY'

In [29]:
columns[6]

'MRDAYPYR'

In [ ]:
RANGE = 1 - 366 ............................................................................................................... 4308 7.42
985 = BAD DATA Logically assigned ............................................................................... 31 0.05
989 = LEGITIMATE SKIP Logically assigned .................................................................. 39 0.07
991 = NEVER USED MARIJUANA ................................................................................. 32487 55.98
993 = DID NOT USE MARIJUANA IN THE PAST 12 MOS........................................... 12956 22.32
994 = DON'T KNOW......................................................................................................... 26 0.04
997 = REFUSED ................................................................................................................ 26 0.04
998 = BLANK (NO ANSWER).......................................................................................... 429 0.74
999 = LEGITIMATE SKIP................................................................................................. 7732 13.32

In [30]:
# Clean MRDAYPYR - note: it is different from MJYRTOT because it includes HASHISH

# Replace 991 with 0
df['MRBSTWAY'] = df['MRBSTWAY'].replace(991, 0)

# Drop all values outside of range 0-366
df = df[df['MRBSTWAY'] <= 366]

In [31]:
columns[7] # Dropping

'MRDAYPMO'

In [32]:
columns[8]

'MRDAYPWK'

In [33]:
columns[9]

'MJDAY30A'

In [34]:
columns[10]

'MR30EST'

In [35]:
columns[11]

'TOBFLAG'

In [44]:
columns[20] # SPENT GREAT DEAL OF TIME USING/FEEL EFF OF MJ PST 12 MOS

'UDMJTIMEUSE'

In [ ]:
1 = Yes................................................................................................................................ 3530 6.08
2 = No................................................................................................................................. 5905 10.18
83 = DID NOT USE MARIJUANA PAST 12 MOS OR USED <6 DAYS Log assn......... 27 0.05
85 = BAD DATA LOGICALLY ASSIGNED.................................................................... 4 0.01
91 = NEVER USED MARIJUANA ................................................................................... 32487 55.98
93 = DID NOT USE MARIJUANA PAST 12 MOS OR USED <6 DAYS........................ 15491 26.69
94 = DON'T KNOW........................................................................................................... 18 0.03
97 = REFUSED .................................................................................................................. 29 0.05
98 = BLANK (NO ANSWER) ........................................................................................... 543 0.94

In [45]:
# Clean UDMJTIMEUSE

# Replace 91 with 0
df['UDMJTIMEUSE'] = df['UDMJTIMEUSE'].replace(91, 0)

# Drop all values that are not 0 or 1
df = df[df['UDMJTIMEUSE'].isin([0, 1])]

In [46]:
columns[21]

'UDMJTIMEGET'

In [47]:
columns[22]

'UDMJWANTBAD'

In [48]:
columns[23]

'UDMJSTRURGE'

In [49]:
columns[24]

'UDMJNEEDMOR'

In [50]:
columns[25] # TRY TO CUT DOWN/STOP MARIJUANA USE IN PAST 12 MOS

'UDMJLESSEFF'

In [51]:
columns[26]

'UDMJTRYSTOP'

In [ ]:
1 = Yes................................................................................................................................ 2747 4.73
2 = No................................................................................................................................. 6683 11.52
83 = DID NOT USE MARIJUANA PAST 12 MOS OR USED <6 DAYS Log assn......... 27 0.05
85 = BAD DATA LOGICALLY ASSIGNED.................................................................... 4 0.01
91 = NEVER USED MARIJUANA ................................................................................... 32487 55.98
93 = DID NOT USE MARIJUANA PAST 12 MOS OR USED <6 DAYS........................ 15491 26.69
94 = DON'T KNOW........................................................................................................... 12 0.02
97 = REFUSED .................................................................................................................. 27 0.05
98 = BLANK (NO ANSWER) ........................................................................................... 556 0.96

In [52]:
# Clean UDMJTRYSTOP

# Replace 91 with 0
df['UDMJTRYSTOP'] = df['UDMJTRYSTOP'].replace(91, 0)

# Drop all values other than 1 and 0
df = df[df['UDMJTRYSTOP'].isin([0, 1])]

In [53]:
columns[27]

'UDMJHLTHPRB'

In [54]:
columns[28]

'UDMJHLTHCTD'

In [55]:
columns[29]

'UDMJMNTLPRB'

In [56]:
columns[30]

'UDMJMNTLCTD'

In [57]:
columns[31]

'UDMJSTOPACT'

In [58]:
columns[32]

'UDMJWORKPRB'

In [59]:
columns[33]

'UDMJFMLYPRB'

In [61]:
columns[34]

'UDMJFMLYCTD'

In [62]:
columns[35]

'UDMJGETHURT'

In [63]:
columns[36] # FEELING IRRITABLE OR ANGRY-MJ WITHDRAWAL SYMPTOM PST 12 MOS

'UDMJWDANGRY'

In [ ]:
1 = Yes................................................................................................................................ 1572 2.71
2 = No................................................................................................................................. 7840 13.51
83 = DID NOT USE MARIJUANA PAST 12 MOS OR USED <6 DAYS Log assn......... 27 0.05
85 = BAD DATA LOGICALLY ASSIGNED.................................................................... 4 0.01
91 = NEVER USED MARIJUANA ................................................................................... 32487 55.98
93 = DID NOT USE MARIJUANA PAST 12 MOS OR USED <6 DAYS........................ 15491 26.69
94 = DON'T KNOW........................................................................................................... 20 0.03
97 = REFUSED .................................................................................................................. 27 0.05
98 = BLANK (NO ANSWER) ........................................................................................... 566 0.98

In [65]:
# Clean UDMJWDANGRY

# Replace 91 and 93 with 0
df['UDMJWDANGRY'] = df['UDMJWDANGRY'].replace([91, 93], 0)

# Drop all values that are not 0 or 1
df = df[df['UDMJWDANGRY'].isin([0, 1])]

In [66]:
columns[37] # FEELING ANXIOUS/NERVOUS - MJ WITHDRAWAL SYMPTOM PST 12 MOS

'UDMJWDFLANX'

In [64]:
df.UDMJWDANGRY.value_counts()

91    32487
2       820
1       678
94        3
98        1
Name: UDMJWDANGRY, dtype: int64

In [ ]:
# If a column is missing >= 50% of its values (i.e. 991 or something similar), drop the field!

In [60]:
df.PYUD5MRJ.value_counts()

91.0    32487
1.0      1415
0.0        86
Name: PYUD5MRJ, dtype: int64

In [ ]:
fields_to_drop = ['MJAGE', 'MJYFU', 'MJMFU', 'MJREC', 'MRDAYPMO', 'MRDAYPWK', 'MJDAY30A', 'MR30EST', 'UDMJTIMEGET', 'UDMJWANTBAD',
                  'UDMJSTRURGE', 'UDMJNEEDMOR', 'UDMJLESSEFF', 'UDMJHLTHPRB', 'UDMJHLTHCTD', 'UDMJMNTLPRB', 'UDMJMNTLCTD', 'UDMJSTOPACT',
                  'UDMJWORKPRB', 'UDMJFMLYPRB', 'UDMJFMLYCTD', 'UDMJGETHURT', ]

In [15]:
df.MJAGE.value_counts()

991    32487
16      3704
18      3493
15      2868
17      2377
       ...
79         1
82         1
64         1
78         1
80         1
Name: MJAGE, Length: 84, dtype: int64

In [ ]:
# Notes:
# If you have values over 900, filter them out!
# "Anything greater than 900... etc."
# Must know which columns where "problem" encoding applies
# Run drop command for every column

In [ ]:
# First make sure no NaN values (must have 0 null values)
# Or call fillna() on column to replace NA values

In [4]:
df = mj_mh_df.copy()

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58034 entries, 0 to 58033
Data columns (total 84 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MJAGE        58034 non-null  int64
 1   MJYFU        58034 non-null  int64
 2   MJMFU        58034 non-null  int64
 3   MJREC        58034 non-null  int64
 4   MJYRTOT      58034 non-null  int64
 5   MRBSTWAY     58034 non-null  int64
 6   MRDAYPYR     58034 non-null  int64
 7   MRDAYPMO     58034 non-null  int64
 8   MRDAYPWK     58034 non-null  int64
 9   MJDAY30A     58034 non-null  int64
 10  MR30EST      58034 non-null  int64
 11  TOBFLAG      58034 non-null  int64
 12  ALCFLAG      58034 non-null  int64
 13  MRJFLAG      58034 non-null  int64
 14  COCFLAG      58034 non-null  int64
 15  CRKFLAG      58034 non-null  int64
 16  HERFLAG      58034 non-null  int64
 17  LSDFLAG      58034 non-null  int64
 18  METHAMFLAG   58034 non-null  int64
 19  MJONLYFLAG   58034 non-null  int64
 20  UDMJTIMEUSE  58034 non-null  int64
 21  UDMJTIMEGET  58034 non-null  int64
 22  UDMJWANTBAD  58034 non-null  int64
 23  UDMJSTRURGE  58034 non-null  int64
 24  UDMJNEEDMOR  58034 non-null  int64
 25  UDMJLESSEFF  58034 non-null  int64
 26  UDMJTRYSTOP  58034 non-null  int64
 27  UDMJHLTHPRB  58034 non-null  int64
 28  UDMJHLTHCTD  58034 non-null  int64
 29  UDMJMNTLPRB  58034 non-null  int64
 30  UDMJMNTLCTD  58034 non-null  int64
 31  UDMJSTOPACT  58034 non-null  int64
 32  UDMJWORKPRB  58034 non-null  int64
 33  UDMJFMLYPRB  58034 non-null  int64
 34  UDMJFMLYCTD  58034 non-null  int64
 35  UDMJGETHURT  58034 non-null  int64
 36  UDMJWDANGRY  58034 non-null  int64
 37  UDMJWDFLANX  58034 non-null  int64
 38  UDMJWDSLEEP  58034 non-null  int64
 39  UDMJWDAPPET  58034 non-null  int64
 40  UDMJWDSITST  58034 non-null  int64
 41  UDMJWDDEPRS  58034 non-null  int64
 42  UDMJWDSTMCH  58034 non-null  int64
 43  UDMJWDSHAKE  58034 non-null  int64
 44  UDMJWDSWEAT  58034 non-null  int64
 45  UDMJWDFEVER  58034 non-null  int64
 46  UDMJWDCHILL  58034 non-null  int64
 47  UDMJWDHEDAC  58034 non-null  int64
 48  PYUD5MRJ     57474 non-null  float64
 49  IRPYUD5MRJ   58034 non-null  int64
 50  AUALTYR      58034 non-null  int64
 51  AUMHTELYR2   45956 non-null  float64
 52  SUICTHNK     58034 non-null  int64
 53  SUIPLANYR    58034 non-null  int64
 54  ADDPREV      58034 non-null  int64
 55  AD_MDEA1     58034 non-null  int64
 56  AD_MDEA2     58034 non-null  int64
 57  AD_MDEA3     58034 non-null  int64
 58  AD_MDEA4     58034 non-null  int64
 59  AD_MDEA8     58034 non-null  int64
 60  ADSMMDEA     58034 non-null  int64
 61  ASDSREL2     5140 non-null   float64
 62  YODSMMDE     58034 non-null  int64
 63  CAMHPROB2    45357 non-null  float64
 64  MMBTPYR      58034 non-null  int64
 65  MMBT30DY     58034 non-null  int64
 66  MMBTDISP     58034 non-null  int64
 67  MMBJOINT     58034 non-null  int64
 68  MMBLOOSE     58034 non-null  int64
 69  MMBOTHER     58034 non-null  int64
 70  MMLSUNIT1    58034 non-null  int64
 71  MMLSPCTB1    58034 non-null  int64
 72  MMLSPCAT1    58034 non-null  int64
 73  MMBSELL      58034 non-null  int64
 74  AGE3         58034 non-null  int64
 75  HEALTH       58034 non-null  int64
 76  LVLDIFMEM2   58034 non-null  int64
 77  LVLDIFCOMM2  58034 non-null  int64
 78  CATAG3       58034 non-null  int64
 79  HEALTH2      58015 non-null  float64
 80  ANYHLTI2     58034 non-null  int64
 81  INCOME       58034 non-null  int64
 82  POVERTY3     57990 non-null  float64
 83  COUTYP4      58034 non-null  int64
dtypes: float64(6), int64(78)
memory usage: 37.2 MB

### Inspect and pre-process ADSMMDEA

### SCORE OF SYMPTOM INDICATORS 1 THRU 9

In [ ]:
1 = Has 5 or more symptoms.............................................................................................. 8918 15.37
2 = Has less than 5 symptoms............................................................................................. 1264 2.18
94 = SUM OF SYMPTOMS AND DON'T KNOW >=5 .................................................... 22 0.04
97 = SUM OF SYMPTOMS AND REFUSED >=5 ........................................................... 3 0.01
98 = OTHER MISSING/NOT APPLICABLE.................................................................... 37084 63.90
99 = LEGITIMATE SKIP................................................................................................... 10743 18.51

In [ ]:
# Only

In [7]:
df.ADSMMDEA.value_counts()

98    37084
99    10743
1      8918
2      1264
94       22
97        3
Name: ADSMMDEA, dtype: int64

In [ ]:
col_list = ['MJYRTOT',
            'TOBFLAG',
            'ALCFLAG',
            'MRJFLAG',
            'COCFLAG',
            'CRKFLAG',
            'HERFLAG',
            'LSDFLAG',
            'METHAMFLAG',
            'MJONLYFLAG',
            'HEALTH2']

In [8]:
# Inspect all columns above
df.MJYRTOT.value_counts()

991    32487
993    12956
364     1548
260      717
1        625
       ...
135        1
258        1
39         1
136        1
98         1
Name: MJYRTOT, Length: 204, dtype: int64

In [3]:
# Check for nas
nan_count = mj_mh_df[mj_mh_col].isna().sum()

# Print the result
print(nan_count)

AD_MDEA1       0
AD_MDEA2       0
AD_MDEA3       0
AD_MDEA4       0
AD_MDEA8       0
              ..
UDMJWDSLEEP    0
UDMJWDSTMCH    0
UDMJWDSWEAT    0
UDMJWORKPRB    0
YODSMMDE       0
Length: 84, dtype: int64

In [15]:
df = mj_mh_df
df['target'] = pd.to_numeric(df.target)

AttributeError: 'DataFrame' object has no attribute 'target'

In [16]:
import sweetviz as sv
report = sv.analyze(df, target_feat='target')

ModuleNotFoundError: No module named 'sweetviz'