In [1]:
import pandas as pd
import numpy as np

In [3]:
file_path = 'NSDUH_2021_Tab.txt'

data = pd.read_csv(file_path, sep='\t')

C:\Users\e.a.wright\AppData\Local\Temp\ipykernel_68416\4184837255.py:3: DtypeWarning: Columns (2792) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, sep='\t')

In [6]:
data

,QUESTID2,FILEDATE,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,...,GOVTPROG,INCOME,POVERTY3,PDEN10,COUTYP4,MAIIN102,AIIND102,ANALWT_C,VESTR_C,VEREP
0,10000182,10/06/2022,1,99,99,19,9999,99,1,7,...,1,1,2.0,2,3,2,2,675.130812,40047,1
1,10001255,10/06/2022,1,99,99,15,9999,99,4,93,...,2,4,3.0,1,1,2,2,12435.513603,40037,2
2,10001831,10/06/2022,2,99,99,991,9991,91,91,91,...,2,2,2.0,2,2,2,2,647.085653,40037,2
3,10002722,10/06/2022,1,99,99,9,9999,99,1,30,...,2,2,2.0,1,1,2,2,11275.260484,40045,2
4,10002897,10/06/2022,2,99,99,991,9991,91,91,91,...,2,1,1.0,1,1,2,2,350.985132,40006,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58029,51649942,10/06/2022,1,99,99,19,9999,99,4,93,...,2,4,3.0,1,1,2,2,188.629137,40025,2
58030,51652923,10/06/2022,2,99,99,991,9991,91,91,91,...,2,4,3.0,2,2,2,2,197.696511,40024,2
58031,51652949,10/06/2022,1,99,99,18,9999,99,2,93,...,2,4,3.0,1,1,2,2,247.756480,40006,1
58032,51655980,10/06/2022,1,99,99,22,9999,99,4,93,...,2,4,3.0,1,1,2,2,338.721596,40025,2
58033,51656361,10/06/2022,2,99,99,991,9991,91,91,91,...,2,3,3.0,3,3,2,2,9574.680172,40049,1

In [8]:
print(f"The shape of this dataset is {data.shape}")

The shape of this dataset is (58034, 2988)

In [9]:
data.columns

Index(['QUESTID2', 'FILEDATE', 'CIGEVER', 'CIGOFRSM', 'CIGWILYR', 'CIGTRY',
       'CIGYFU', 'CIGMFU', 'CIGREC', 'CIG30USE',
       ...
       'GOVTPROG', 'INCOME', 'POVERTY3', 'PDEN10', 'COUTYP4', 'MAIIN102',
       'AIIND102', 'ANALWT_C', 'VESTR_C', 'VEREP'],
      dtype='object', length=2988)

In [ ]:
# There are 14 fields in Marijuana

In [14]:
# Marijuana Section Variables:

MJ_Codes = ["MJEVER",
"MJAGE",
"MJYFU",
"MJMFU",
"MJREC",
"MJREC",
"MJYRTOT",
"MRTOTFG",
"MJFQFLG",
"MRBSTWAY",
"MRDAYPYR",
"MRDAYPMO",
"MRDAYPWK",
"MJDAY30A",
"MR30EST"]

In [16]:
MJ_SUBSET = data[MJ_Codes]

MJ_SUBSET

,MJEVER,MJAGE,MJYFU,MJMFU,MJREC,MJREC,MJYRTOT,MRTOTFG,MJFQFLG,MRBSTWAY,MRDAYPYR,MRDAYPMO,MRDAYPWK,MJDAY30A,MR30EST
0,1,19,9999,99,1,1,52,98,98,1,999,99,1,30,99
1,2,991,9991,91,91,91,991,98,98,91,991,91,91,91,91
2,2,991,9991,91,91,91,991,98,98,91,991,91,91,91,91
3,1,13,9999,99,1,1,364,98,98,1,999,99,7,30,99
4,2,991,9991,91,91,91,991,98,98,91,991,91,91,91,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58029,1,21,9999,99,3,3,993,98,98,93,993,93,93,93,93
58030,1,25,9999,99,3,3,993,98,98,93,993,93,93,93,93
58031,1,18,9999,99,1,1,48,98,98,2,999,4,99,10,99
58032,1,19,9999,99,2,2,3,98,98,3,3,99,99,93,93
58033,2,991,9991,91,91,91,991,98,98,91,991,91,91,91,91

#### MJEVER - Ever used marijuana/hashish
#### MJAGE - Age when first used marijuana/hashish
#### MJYFU - Year of first use marijuana/hashish use
#### MJMFU - Month of first use marijuana/hashish use
#### MJREC - Time sence last use marijuana/hashish
#### MJRTOT - Total number of days used marijuana/hashish in past 12 months
#### MRTOTFG - Trimming indicator for MJRTOT
#### MJFQFLG - Trimmed MJRTOT if R is used < 12
#### MRBSTWAY -  EASIEST WAY TO TELL US # DAYS USED MARIJUANA/HASH 
#### MRDAYPYR - # DAYS USED MARIJUANA/HASHISH PAST 12 MONTHS
#### MRDAYPMO - # DAYS PER MO USED MARIJUANA/HASHISH PAST 12 MOS
#### MRDAYPWK - # DAYS PER WEEK USED MARIJUANA/HASHISH PAST 12 MOS
#### MJDAY30A - # DAYS USED MARIJUANA/HASHISH PAST 30 DAYS
#### MR30EST - BEST EST. # DAYS USED MARIJUANA PAST 30 DAYS

In [ ]:
# Market Information for Marijuana 

pg. 620 - 637