Pinning the columns, need cleaning

MJ_Codes = ["MJEVER",
"MJAGE",
"MJYFU",
"MJMFU",
"MJREC",
"MJREC",
"MJYRTOT",
"MRTOTFG",
"MJFQFLG",
"MRBSTWAY",
"MRDAYPYR",
"MRDAYPMO",
"MRDAYPWK",
"MJDAY30A",
"MR30EST"]

MJ_MARKET_CODES = [
    'MMBTPYR', # Bought MJ in past 12 months
    'MMBT30DY', # # Days bought MH in Past Month
    'MMBTDISP', # Bought from store or dispoensary
    'MMBJOINT', # Last MJ bought in joints
    'MMBLOOSE', # Last MJ bought in Loose form
    'MMBOTHER', # Last MJ bought in other form
    'MMLSUNIT1', # AMT MJ bought in last time: grams/oz/lbs
    'MMLSPCTB1', # Amount paid for MJ last time in bins
    'MMLSPCAT1', # Price category of last loose marijuana bought
    'MMBSELL', # Sell any marijuana bought last time
]

TARGETS = [
'IRIMPREMEM', # DIFFICULTY REMEMBERING ONE MO IN PST 12 MOS - IMP REV (457) --> BINARY!
'ADDPREV', # SEVERAL DAYS OR LNGR WHEN FELT SAD/EMPTY/DPRSD (506) --> BINARY!
'IRSUIPLANYR', # ADULT MADE PLANS TO KILL SELF IN PST YR - IMP REV (499)
'ASDSREL2', # ADULT: DEP FEELINGS ROLE IMPAIRMENT - CLOSE RELATIONSHIPS (520)
'IRAMDEYR', # ADULT: PAST YEAR MAJOR DEPRESSIVE EPISODE (MDE) - IMP REV
'IRDSTCHR12' # HOW OFTEN FELT COULDN'T BE CHEERED UP WRST MONTH - IMP REV
]

OTHER_DRUGS = [# Cigarettes - CIGEVER
# Marijuana - MJEVER
# Alcohol - ALCEVER
# Cocaine - COCEVER
# Crack - CRKEVER
# Heroin - HEREVER
# Hallucinogen - LSD
# Methamphetamine - METHAMEVR]

ever vaping marijuana in question VPMJLIF
IRMJRC MARIJUANA RECENCY
UDMJTIMEUSE - SPENT GREAT DEAL OF TIME USING/FEEL EFF OF MJ PST 12 MOS
UDMJTIUDMJLRGAMTS Len : 2 USED MJ LARGER AMTS OR LONGER TIME THAN MEANT TO PST 12 MOSMEGET Len : 2 SPENT GREAT DEAL TIME TRY TO GET/GETTING MJ IN PST 12 MOS
UDMJWANTBAD Len : 2 WANTED TO USE MARIJUANA SO BADLY IN PAST 12 MOS
UDMJSTRURGE Len : 2 STRONG URGE TO USE MARIJUANA IN PAST 12 MOS
UDMJNEEDMOR Len : 2 NEEDED A LOT MORE MARIJUANA TO GET FEELING YOU WANT
UDMJLESSEFF Len : 2 SAME AMT MARIJUANA HAS LESS EFFECT THAN IT USED TO
UDMJTRYSTOP Len : 2 TRY TO CUT DOWN/STOP MARIJUANA USE IN PAST 12 MOS
UDMJHLTHPRB Len : 2 ANY LONG-LASTING PHYS PRBS CAUSED/WORSND BY MJ PST 12 MOS
UDMJHLTHCTD Len : 2 CONTD TO USE MARIJUANA DESPITE MJ CAUSE/WORSEN PHYS PRBS
UDMJMNTLPRB Len : 2 ANY EMOT/MNTL HLTH PRBS CAUSED/WORSND BY MJ PAST 12 MOS
UDMJMNTLCTD Len : 2 CONTD MARIJUANA USE DESPITE MJ CSE/WRSN EMOT/MNTL HLTH PRBS
UDMJSTOPACT Len : 2 LESS ACTIVITIES B/C OF MARIJUANA USE PAST 12 MOS
UDMJWORKPRB Len : 2 MARIJUANA CAUSE SERIOUS PRBS AT HOME/WORK/SCH PST 12 MOS
UDMJFMLYPRB Len : 2 MARIJUANA CAUSE ARGUMENTS/PROBS W/FAMILY/FRIENDS PST 12 MOS
UDMJFMLYCTD Len : 2 CONTD MARIJUANA USE DESPITE MJ CAUSE ARGUMENTS W/FAM/FRNDS
UDMJGETHURT Len : 2 MARIJUANA USE INCREASED CHANCE GETTING HURT PST 12 MOS
UDMJWDANGRY Len : 2 FEELING IRRITABLE OR ANGRY-MJ WITHDRAWAL SYMPTOM PST 12 MOS
UDMJWDFLANX Len : 2 FEELING ANXIOUS/NERVOUS - MJ WITHDRAWAL SYMPTOM PST 12 MOS
UDMJWDSLEEP Len : 2 HAVING TROUBLE SLEEPING - MJ WITHDRAWAL SYMPTOM PST 12 MOS
UDMJWDAPPET Len : 2 LOSING APPETITE OR WEIGHT - MJ WITHDRAWAL SYMPTOM PST 12 MOS
UDMJWDSITST Len : 2 COULDN'T SIT STILL - MJ WITHDRAWAL SYMPTOM PST 12 MOS
UDMJWDDEPRS Len : 2 FEELING DEPRESSED - MJ WITHDRAWAL SYMPTOM PST 12 MOS
UDMJWDSTMCH Len : 2 STOMACH ACHE - MJ WITHDRAWAL SYMPTOM PST 12 MOS
UDMJWDSHAKE Len : 2 SHAKING OR TREMORS - MJ WITHDRAWAL SYMPTOM PST 12 MOS
UDMJWDSWEAT Len : 2 SWEATING - MJ WITHDRAWAL SYMPTOM PST 12 MOS
UDMJWDFEVER Len : 2 FEVER - MJ WITHDRAWAL SYMPTOM PST 12 MOS
UDMJWDCHILL Len : 2 CHILLS - MJ WITHDRAWAL SYMPTOM PST 12 MOS
UDMJWDHEDAC Len : 2 HEADACHE - MJ WITHDRAWAL SYMPTOM PST 12 MOS
PYUD5MRJ Len : 2 MARIJUANA USE DISORDER IN THE PAST YEAR
MRJYRBFR1 Len : 2 USE MJ OR HASHISH EVEN ONCE YR BEFORE LAST
AUMHTELYR1 Len : 2 ADULT RCVD MENTAL HLTH TRMT OVER PHONE/EMAIL/VIDEO PST 12
MSAUALTYR1 Len : 2 RCVD ALTERNATIVE MENT HLTH TRMT PAST 12 MOS
SUICTHNK1 Len : 2 SERIOUSLY THINK ABOUT KILLING SELF PST 12 MOS
SUIPLANYR1 Len : 2 ADULT MAKE PLANS TO KILL SELF PST 12 MOS
ADDSCEV1 Len : 2 SEVERAL DAYS OR LNGR FELT DISCOURAGED ABT LIFE
AD_MDEA11 Len : 2 SAD/EMPTY/DEPRESSED MOST OF DAY OR DISCOURAGED
AD_MDEA21 Len : 2 LOST INTEREST OR PLEASURE IN MOST THINGS
AD_MDEA31 Len : 2 CHANGES IN APPETITE OR WT
AD_MDEA41 Len : 2 SLEEP PROBLEMS
AD_MDEA81 Len : 2 INABILITY TO CONCENTRATE OR MAKE DECISIONS
ADSMMDEA1 Len : 2 SCORE OF SYMPTOM INDICATORS 1 THRU 9
YODSMMDE1 Len : 2 SCORE OF SYMPTOM INDICATORS 1 THRU 9 (Youth)
CAMHPROB1 Len : 2 THINK EVER HAD PROBLEM WITH OWN MENTAL HEALTH
VAPMRJEVR Len : 2 EVER VAPED MARIJUANA WITH VAPING DEVICE
AGE3 Len : 2 RECODE - FINAL EDITED AGE
HEALTH Len : 2 OVERALL HEALTH
LVLDIFMEM2 Len : 2 LEVEL OF DIFFICULTY REMEMBERING OR CONCENTRATING
LVLDIFCOMM2 Len : 2 LEVEL OF DIFFICULTY COMMUNICATING USING YOUR USUAL LANGUAGE
CATAG3 Len : 1 RC-AGE CATEGORY RECODE (5 LEVELS)
HEALTH2 Len : 1 RC-OVERALL HEALTH RECODE
ANYHLTI2 Len : 2 COVERED BY ANY HEALTH INSURANCE - RECODE
INCOME Len : 1 RC-TOTAL FAMILY INCOME RECODE
POVERTY3 Len : 1 RC-POVERTY LEVEL (% OF US CENSUS POVERTY THRESHOLD)
COUTYP4 Len : 1 COUNTY METRO/NONMETRO STATUS (2013 3-LEVEL)

# Code for cleaning the data

The aim is to create a model that can predict whether the use of marihuana contributes to poor mental health outcomes.
Questions:
* Group similar mental health problems. Assign categories: for example, isolation from family, mood symptoms, etc, according to severity? 
* Same with physical health?

In [1]:
# Dependencies
import pandas as pd
 
# Store filepath in a variable
nsduh_csv = "data/NSDUH_2021_Tab.txt"

# Read the csv
nsduh_df = pd.read_csv(nsduh_csv, sep="\t")

# Print the head
nsduh_df.head(5)

C:\Users\lmacciomaretto\AppData\Local\Temp\ipykernel_8092\1227038136.py:8: DtypeWarning: Columns (2792) have mixed types. Specify dtype option on import or set low_memory=False.
  nsduh_df = pd.read_csv(nsduh_csv, sep="\t")

,QUESTID2,FILEDATE,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,...,GOVTPROG,INCOME,POVERTY3,PDEN10,COUTYP4,MAIIN102,AIIND102,ANALWT_C,VESTR_C,VEREP
0,10000182,10/06/2022,1,99,99,19,9999,99,1,7,...,1,1,2.0,2,3,2,2,675.130812,40047,1
1,10001255,10/06/2022,1,99,99,15,9999,99,4,93,...,2,4,3.0,1,1,2,2,12435.513603,40037,2
2,10001831,10/06/2022,2,99,99,991,9991,91,91,91,...,2,2,2.0,2,2,2,2,647.085653,40037,2
3,10002722,10/06/2022,1,99,99,9,9999,99,1,30,...,2,2,2.0,1,1,2,2,11275.260484,40045,2
4,10002897,10/06/2022,2,99,99,991,9991,91,91,91,...,2,1,1.0,1,1,2,2,350.985132,40006,1
5,10003413,10/06/2022,1,99,99,15,9999,99,1,30,...,2,3,2.0,1,1,2,2,83739.860176,40041,2
6,10004677,10/06/2022,1,99,99,23,2021,6,1,1,...,2,4,3.0,1,1,2,2,1988.435640,40021,2
7,10004796,10/06/2022,2,99,99,991,9991,91,91,91,...,2,3,3.0,2,2,2,2,382.287416,40008,1
8,10004832,10/06/2022,2,4,4,991,9991,91,91,91,...,1,1,1.0,2,2,2,2,3873.589659,40007,2
9,10005265,10/06/2022,2,99,99,991,9991,91,91,91,...,2,1,1.0,1,1,2,2,2545.014038,40022,2

In [2]:
nsduh_df.describe()

,QUESTID2,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,CG30EST,...,GOVTPROG,INCOME,POVERTY3,PDEN10,COUTYP4,MAIIN102,AIIND102,ANALWT_C,VESTR_C,VEREP
count,5.803400e+04,58034.000000,58034.000000,58034.000000,58034.000000,58034.00000,58034.000000,58034.000000,58034.000000,58034.000000,...,58034.000000,58034.000000,57990.00000,58034.000000,58034.000000,58034.000000,58034.000000,58034.000000,58034.000000,58034.000000
mean,3.081881e+07,1.571406,82.554830,82.563342,576.499362,9898.55962,93.324965,53.243892,82.731261,92.567719,...,1.789572,2.797532,2.46439,1.642623,1.728418,1.985095,1.985371,4822.068848,40025.473826,1.579092
std,1.206377e+07,0.494879,35.986957,35.964255,481.926001,868.65128,10.137553,43.612307,23.890604,3.358720,...,0.407616,1.151455,0.76969,0.603467,0.741067,0.121174,0.120065,8220.681713,14.382921,0.493709
min,1.000018e+07,1.000000,1.000000,1.000000,1.000000,2019.00000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,0.970396,40001.000000,1.000000
25%,2.033398e+07,1.000000,99.000000,99.000000,17.000000,9991.00000,91.000000,4.000000,91.000000,91.000000,...,2.000000,2.000000,2.00000,1.000000,1.000000,2.000000,2.000000,592.018960,40013.000000,1.000000
50%,3.083045e+07,2.000000,99.000000,99.000000,991.000000,9991.00000,91.000000,91.000000,91.000000,91.000000,...,2.000000,3.000000,3.00000,2.000000,2.000000,2.000000,2.000000,1859.554814,40025.000000,2.000000
75%,4.128305e+07,2.000000,99.000000,99.000000,991.000000,9999.00000,99.000000,91.000000,93.000000,93.000000,...,2.000000,4.000000,3.00000,2.000000,2.000000,2.000000,2.000000,5408.474001,40038.000000,2.000000
max,5.165636e+07,2.000000,99.000000,99.000000,997.000000,9999.00000,99.000000,91.000000,98.000000,99.000000,...,2.000000,4.000000,3.00000,3.000000,3.000000,2.000000,2.000000,126866.974820,40050.000000,2.000000

#### MJ_Codes = ["MJFLAG","MJAGE", "MJYFU", "MJMFU", "MJREC", "MJREC", "MJYRTOT", "MRTOTFG", "MJFQFLG", "MRBSTWAY", "MRDAYPYR", "MRDAYPMO", "MRDAYPWK", "MJDAY30A", "MR30EST", "MRJYRBFR1"]

#### MJ_MARKET_CODES = ["MMBTPYR", "MMBT30DY", "MMBTDISP", "MMBJOINT", "MMBLOOSE", "MMBOTHER", "MMLSUNIT1", "MMLSPCTB1", "MMLSPCAT1", "MMBSELL"]

#### TARGETS = ["ADDPREV", "ASDSREL2"]

#### OTHER_DRUGS = ["TOBFLAG", "ALCFLAG", "COCFLAG", "CRKFLAG", "HERFLAG", "LSDFLAG", "METHAMFLAG"]

#### MJ_effects = ["UDMJTIMEUSE", "UDMJTIUDMJLRGAMTS", "MOSMEGET", "UDMJWANTBAD", "UDMJSTRURGE", "UDMJNEEDMOR", "UDMJLESSEFF", "UDMJTRYSTOP", "UDMJHLTHPRB", "UDMJHLTHCTD", "UDMJMNTLPRB", "UDMJMNTLCTD", "UDMJSTOPACT", "UDMJWORKPRB", "UDMJFMLYPRB", "UDMJFMLYCTD", "UDMJGETHURT", "UDMJWDANGRY", "UDMJWDFLANX", "UDMJWDSLEEP", "UDMJWDAPPET", "UDMJWDSITST", "UDMJWDDEPRS", "UDMJWDSTMCH", "UDMJWDSHAKE", "UDMJWDSWEAT", "UDMJWDFEVER", "UDMJWDCHILL", "UDMJWDHEDAC", "PYUD5MRJ"] 

#### MHI_indicators = ["SUICTHNK1", "SUIPLANYR1", "ADDSCEV1", "AD_MDEA11", "AD_MDEA21", "AD_MDEA31", "AD_MDEA41", "AD_MDEA81"] 

#### MHI_indicatorScore = ["ADDSMMDEA1", "YODSMMDE1"]

#### MJ_DEMO = ["AGE3", "HEALTH", "LVLDIFMEM2", "LVLDIFCOMM2", "CATAG3", "CAMHPROB1", "HEALTH2", "AUMHTELYR1", "MSAUALTYR1", "ANYHLTI2", "INCOME", "POVERTY3", "COUTYP4"]

In [4]:
# Columns
mj_mh_col = ["AD_MDEA11", "AD_MDEA21", "AD_MDEA31", "AD_MDEA41", "AD_MDEA81", "ADDPREV","ADDSCEV1", "ADDSMMDEA1", "AGE3", "ALCFLAG", "ANYHLTI2", "ASDSREL2", "AUMHTELYR1", "CAMHPROB1", "CATAG3", "COCFLAG", "COUTYP4", 
            "CRKFLAG", "HEALTH", "HEALTH2", "HERFLAG", "INCOME", "LSDFLAG", "LVLDIFCOMM2", "LVLDIFMEM2", "METHAMFLAG", "MJAGE", "MJDAY30A", "MJFLAG", "MJFQFLG", "MJMFU", "MJREC", "MJYFU", "MJYRTOT", "MMBJOINT", 
            "MMBLOOSE", "MMBOTHER", "MMBSELL", "MMBT30DY", "MMBTDISP", "MMBTPYR", "MMLSPCAT1", "MMLSPCTB1", "MMLSUNIT1","MOSMEGET", "MR30EST", "MRBSTWAY", "MRDAYPMO", "MRDAYPWK", "MRDAYPYR", "MRJYRBFR1", "MRTOTFG", 
            "MSAUALTYR1", "POVERTY3", "PYUD5MRJ", "SUICTHNK1", "SUIPLANYR1", "TOBFLAG", "UDMJFMLYCTD", "UDMJFMLYPRB", "UDMJGETHURT", "UDMJHLTHCTD", "UDMJHLTHPRB", "UDMJLESSEFF", "UDMJMNTLCTD", "UDMJMNTLPRB", 
            "UDMJNEEDMOR", "UDMJSTOPACT", "UDMJSTRURGE", "UDMJTIMEUSE", "UDMJTIUDMJLRGAMTS", "UDMJTRYSTOP", "UDMJWANTBAD", "UDMJWDANGRY", "UDMJWDAPPET", "UDMJWDCHILL", "UDMJWDDEPRS", "UDMJWDFEVER", "UDMJWDFLANX", 
            "UDMJWDHEDAC", "UDMJWDSHAKE", "UDMJWDSITST", "UDMJWDSLEEP", "UDMJWDSTMCH", "UDMJWDSWEAT", "UDMJWORKPRB", "YODSMMDE1"]

mj_mh_df = nsduh_df.drop(columns=[col for col in nsduh_df.columns if col not in mj_mh_col])


print(mj_mh_df)

       MJAGE  MJYFU  MJMFU  MJREC  MJYRTOT  MRTOTFG  MJFQFLG  MRBSTWAY  \
0         19   9999     99      1       52       98       98         1
1        991   9991     91     91      991       98       98        91
2        991   9991     91     91      991       98       98        91
3         13   9999     99      1      364       98       98         1
4        991   9991     91     91      991       98       98        91
...      ...    ...    ...    ...      ...      ...      ...       ...
58029     21   9999     99      3      993       98       98        93
58030     25   9999     99      3      993       98       98        93
58031     18   9999     99      1       48       98       98         2
58032     19   9999     99      2        3       98       98         3
58033    991   9991     91     91      991       98       98        91

       MRDAYPYR  MRDAYPMO  ...  AGE3  HEALTH  LVLDIFMEM2  LVLDIFCOMM2  CATAG3  \
0           999        99  ...     8       4           1            1       3
1           991        91  ...    11       3           1            1       5
2           991        91  ...     6       2           1            1       2
3           999        99  ...     9       2           2            2       4
4           991        91  ...     6       1           1            1       2
...         ...       ...  ...   ...     ...         ...          ...     ...
58029       993        93  ...     9       2           1            1       4
58030       993        93  ...     8       2           1            1       3
58031       999         4  ...     5       1           1            1       2
58032         3        99  ...     9       2           1            1       4
58033       991        91  ...     5       2           2            1       2

       HEALTH2  ANYHLTI2  INCOME  POVERTY3  COUTYP4
0          4.0         1       1       2.0        3
1          3.0         1       4       3.0        1
2          2.0         1       2       2.0        2
3          2.0         1       2       2.0        1
4          1.0         2       1       1.0        1
...        ...       ...     ...       ...      ...
58029      2.0        98       4       3.0        1
58030      2.0         1       4       3.0        2
58031      1.0         1       4       3.0        1
58032      2.0         1       4       3.0        1
58033      2.0         1       3       3.0        3

[58034 rows x 70 columns]

In [3]:
# Cleaning columns out
labels = ["ride_id"]
citibike_df.drop(labels, axis=1, inplace=True)
citibike_df.head(5)

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,classic_bike,2023-05-31 12:27:28,2023-05-31 12:38:36,Pershing Field,JC024,Newport PATH,JC066,40.742675,-74.051806,40.727224,-74.033759,member
1,classic_bike,2023-05-01 18:12:37,2023-05-01 18:29:03,Pershing Field,JC024,Baldwin at Montgomery,JC020,40.742638,-74.051815,40.723659,-74.064194,casual
2,electric_bike,2023-05-28 17:37:58,2023-05-28 18:39:39,Pershing Field,JC024,Pershing Field,JC024,40.742677,-74.051789,40.742677,-74.051789,casual
3,classic_bike,2023-05-27 21:01:37,2023-05-27 21:13:16,Pershing Field,JC024,Manila & 1st,JC082,40.742677,-74.051789,40.721651,-74.042884,member
4,classic_bike,2023-05-22 12:38:54,2023-05-22 13:02:13,Pershing Field,JC024,Jersey & 3rd,JC074,40.742677,-74.051789,40.723332,-74.045953,member

In [12]:
# Dividing start column
start_series = citibike_df["started_at"].str.split(" ", n = 1, expand = True)

# Show series
print(start_series)

                 0         1
0       2023-05-31  12:27:28
1       2023-05-01  18:12:37
2       2023-05-28  17:37:58
3       2023-05-27  21:01:37
4       2023-05-22  12:38:54
...            ...       ...
239757  2023-03-19  16:25:24
239758  2023-03-22  16:14:15
239759  2023-03-19  02:16:02
239760  2023-03-30  20:09:24
239761  2023-03-17  17:53:28

[239077 rows x 2 columns]

In [14]:
# Dividing end column
end_series = citibike_df["ended_at"].str.split(" ", n = 1, expand = True)

# Show series
print(end_series)

                 0         1
0       2023-05-31  12:38:36
1       2023-05-01  18:29:03
2       2023-05-28  18:39:39
3       2023-05-27  21:13:16
4       2023-05-22  13:02:13
...            ...       ...
239757  2023-03-19  16:33:20
239758  2023-03-22  16:20:28
239759  2023-03-19  02:21:15
239760  2023-03-30  20:15:08
239761  2023-03-17  17:59:43

[239077 rows x 2 columns]

In [15]:
# Inserting new start columns in data frame
citibike_df["start_date"] = start_series[0]
citibike_df["start_time"] = start_series[1]

# Inserting new end columns in data frame
citibike_df["end_date"] = end_series[0]
citibike_df["end_time"] = end_series[1]

In [16]:
# Dropping old columns
citibike_df.drop(columns =["started_at", "ended_at"], inplace = True)

In [17]:
# Show df
citibike_df.head(5)

,rideable_type,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,start_time,end_date,end_time
0,classic_bike,Pershing Field,JC024,Newport PATH,JC066,40.742675,-74.051806,40.727224,-74.033759,member,2023-05-31,12:27:28,2023-05-31,12:38:36
1,classic_bike,Pershing Field,JC024,Baldwin at Montgomery,JC020,40.742638,-74.051815,40.723659,-74.064194,casual,2023-05-01,18:12:37,2023-05-01,18:29:03
2,electric_bike,Pershing Field,JC024,Pershing Field,JC024,40.742677,-74.051789,40.742677,-74.051789,casual,2023-05-28,17:37:58,2023-05-28,18:39:39
3,classic_bike,Pershing Field,JC024,Manila & 1st,JC082,40.742677,-74.051789,40.721651,-74.042884,member,2023-05-27,21:01:37,2023-05-27,21:13:16
4,classic_bike,Pershing Field,JC024,Jersey & 3rd,JC074,40.742677,-74.051789,40.723332,-74.045953,member,2023-05-22,12:38:54,2023-05-22,13:02:13

In [18]:
# Export clean csv  
citibike_df.to_csv("Resources/citibike_Mar-Apr-May_2023.csv", index=True)

In [ ]:
column_names = ["MJFLAG","MJAGE", "MJYFU", "MJMFU", "MJREC", "MJREC", "MJYRTOT", "MRTOTFG", "MJFQFLG", "MRBSTWAY", "MRDAYPYR", "MRDAYPMO", "MRDAYPWK", "MJDAY30A", "MR30EST", "MRJYRBFR1", "MMBTPYR", "MMBT30DY", "MMBTDISP", "MMBJOINT", "MMBLOOSE", "MMBOTHER", "MMLSUNIT1", "MMLSPCTB1", "MMLSPCAT1", "MMBSELL", "ADDPREV", "ASDSREL2", "ADDPREV", "ASDSREL2", "TOBFLAG", "ALCFLAG", "COCFLAG", "CRKFLAG", "HERFLAG", "LSDFLAG", "METHAMFLAG", "UDMJTIMEUSE", "UDMJTIUDMJLRGAMTS", "MOSMEGET", "UDMJWANTBAD", "UDMJSTRURGE", "UDMJNEEDMOR", "UDMJLESSEFF", "UDMJTRYSTOP", "UDMJHLTHPRB", "UDMJHLTHCTD", "UDMJMNTLPRB", "UDMJMNTLCTD", "UDMJSTOPACT", "UDMJWORKPRB", "UDMJFMLYPRB", "UDMJFMLYCTD", "UDMJGETHURT", "UDMJWDANGRY", "UDMJWDFLANX", "UDMJWDSLEEP", "UDMJWDAPPET", "UDMJWDSITST", "UDMJWDDEPRS", "UDMJWDSTMCH", "UDMJWDSHAKE", "UDMJWDSWEAT", "UDMJWDFEVER", "UDMJWDCHILL", "UDMJWDHEDAC", "PYUD5MRJ", "SUICTHNK1", "SUIPLANYR1", "ADDSCEV1", "AD_MDEA11", "AD_MDEA21", "AD_MDEA31", "AD_MDEA41", "AD_MDEA81", "ADDSMMDEA1", "YODSMMDE1", "AGE3", "HEALTH", "LVLDIFMEM2", "LVLDIFCOMM2", "CATAG3", "CAMHPROB1", "HEALTH2", "AUMHTELYR1", "MSAUALTYR1" "ANYHLTI2", "INCOME", "POVERTY3", "COUTYP4"]